<h1>Editing variation</h1>

<% form_for(@variation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @variation %> |
<%= link_to 'Back', variations_path %>