#secondary_navigation li.section {
   display: none;
}

ul.categories_nav > li.current {
   background: #FD9408;
   margin-left: 0;
}

ul.categories_nav > li.current a {
   margin-left: 0;
   padding-left: 0;
}

ol#breadcrumb {
   height: 22px;
}

ol#category_showcase {
   width: 700px;
}

ol.product_showcase li.product_name {
   width: 160px;
}

ol.product_showcase li.product_sale {
   height: 20px;
}

#product_details {
   margin-right: 30px;
}

#cart ol > li > ul {
   height: 70px;
}

div#checkout_cart li.footer ul.line_item {
   height: 20px;
}