<div id="status" class="panel">
  <h2>New User <%= link_to 'Return to user list &gt;&gt;', users_path, {:class => 'secondary'} %></h2>
</div>

<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for (@user, :html => {:class => 'standard_form'}) do |f| -%>
<%= render :partial => 'user_form', :locals => {:f => f} %>
<fieldset>
  <legend>Create User</legend>
  <ul class="form">
    <li>
      <%= submit_tag 'Save User' %>
    </li>
  </ul>
</fieldset>
<% end -%>
