<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
   <head>
      <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
      <title>Cactus Sports</title>
      <meta name="keywords" content="cactus sports, admin"/>
      <meta name="description" content="Administrative template for cactus sports."/>
      <link rel="stylesheet" href="/stylesheets/reset.css" type="text/css" media="screen" charset="utf-8"/>
      <link rel="stylesheet" href="/stylesheets/admin.css" type="text/css" media="screen" charset="utf-8"/>
   </head>
   <body>
      <div id="login_form">
        <h1 id="site_name">Cactus Sports Administration <a href="/">View Site &gt;&gt;</a></h1>
        <%= yield :layout %>
      </div>
   </body>
</html>